<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>eve</title>
 <link rel="stylesheet" href="../static/index.css">
</head>
<body>
 <div class="login-box">
  <h1>INTERCEPTION FOUND !!</h1>
  <h2>{{s}} and {{r}} compare a random selection of the bits in their keys to make sure the protocol has worked correctly:
  </h2>
  <h2><u>{{s}}'s sample</u></h2>
  <h2 style="color: #03e9f4;">{{alice1}}</h2>
  <h2><u>{{r}}'s sample</u></h2>
  <h2 style="color: #03e9f4;">{{bob1}}</h2>
  <h3>Both did not match so eve's interception is found since the channel is disturbed</h3>
 </div>
</body>
</html>